    <body class="">  
        <!-- Left Sidenav -->
        <div class="left-sidenav">           
            <!-- LOGO -->
            <div class="topbar-left">
                <a href="<%= base_url %>/<%= user.active_role.auth_group.auth_role.permission_action.permission.application.prefix %>" class="logo">
                    <span>
                        <img src="<%= base_url_template %>/assets/images/logo-sm.png" alt="logo-small" class="logo-sm">
                    </span>
                </a>
            </div>
            
            <div class="leftbar-profile p-3 w-100">
                <div class="media position-relative">
                    <div class="leftbar-user online">
                        <img src="<%= base_url_template %>/assets/images/users/user-9.jpg" alt="" class="thumb-md rounded-circle"> 
                    </div>                                                         
                    <div class="media-body align-self-center text-truncate ml-3">                        
                        <h5 class="mt-0 mb-1 font-weight-semibold"><%= user.user.name %></h5>   
                        <p class="text-uppercase mb-0 font-12"><%= user.active_role.auth_group.name %></p>                                         
                    </div>
                </div>
            </div>
            
            <% include menu.ejs %>
        </div>

        <!-- Top Bar Start -->
        <div class="topbar">
            <% include navbar.ejs %>
        </div>

        <div class="page-wrapper">

            <!-- Page Content-->
            <div class="page-content-tab">

                <div class="container-fluid">
                    <!-- Page-Title -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="float-right">
                                    <ol class="breadcrumb">
                                        <% let application_prefix = user.active_role.auth_group.auth_role.permission_action.permission.application.prefix; %>
                                        <% let application_name = user.active_role.auth_group.auth_role.permission_action.permission.application.name; %>
                                        <% let modul_prefix = user.active_role.auth_group.auth_role.permission_action.permission.modul.prefix; %>
                                        <% let modul_name = user.active_role.auth_group.auth_role.permission_action.permission.modul.name; %>
                                        <li class="breadcrumb-item"><a href="<%= base_url %>"><%= app_name %></a></li>
                                        <li class="breadcrumb-item"><a href="<%= base_url %>/<%= application_prefix %>"><%= application_name %></a></li>
                                        <li class="breadcrumb-item"><a href="<%= base_url %>/<%= application_prefix %><%= modul_prefix == '' ? '' : `/${modul_prefix}`  %>"><%= modul_name %></a></li>
                                    </ol>
                                </div>
                                <h4 class="page-title"><%= title %></h4>
                            </div>
                        </div>
                    </div>

                    <%- content %>
                </div>

                <% include footer.ejs %>
            </div>
        </div>

        <% include scripts.ejs %>
    </body>

</html>