<%- contentFor('logo_text') %>
<div class="text-center auth-logo-text">
    <h4 class="mt-0 mb-3 mt-5">Let's Get Started <%= app_name %></h4>
    <p class="text-muted mb-0">Sign in to continue to <%= app_name %>.</p>  
</div>

<%- contentFor('form') %>
<% if(auth_error) { %>
    <% console.log(auth_error); %>
    <div class="alert alert-danger mt-2">
        <%= auth_error %>
    </div>
<% } %>

<form class="form-horizontal auth-form my-4" method="POST" action="<%= base_url %>/<%= action %>">
    <div class="form-group">
        <label for="username">Username</label>
        <div class="input-group mb-3">
            <span class="auth-form-icon">
                <i class="dripicons-user"></i> 
            </span>                                                                                                              
            <input type="text" class="form-control" id="username" value="<%= username %>" name="username" placeholder="Enter username" autofocus required>
        </div>                                    
    </div>

    <div class="form-group">
        <label for="userpassword">Password</label>                                            
        <div class="input-group mb-3"> 
            <span class="auth-form-icon">
                <i class="dripicons-lock"></i> 
            </span>                                                       
            <input type="password" class="form-control" id="userpassword" name="password" placeholder="Enter password" required>
        </div>                               
    </div>
    
    <!-- <div class="form-group row mt-4">
        <div class="col-sm-6">
            <div class="custom-control custom-switch switch-success">
                <input type="checkbox" class="custom-control-input" id="customSwitchSuccess">
                <label class="custom-control-label text-muted" for="customSwitchSuccess">Remember me</label>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <a href="auth-recover-pw.html" class="text-muted font-13"><i class="dripicons-lock"></i> Forgot password?</a>                                    
        </div>
    </div> -->
    
    <div class="form-group mb-0 row">
        <div class="col-12 mt-2">
            <button class="btn btn-gradient-primary btn-round btn-block waves-effect waves-light" type="submit">Log In <i class="fas fa-sign-in-alt ml-1"></i></button>
        </div>
    </div>                           
</form>

<%- contentFor('goTo') %>
<!-- <div class="m-3 text-center text-muted">
    <p class="">Don't have an account ?  <a href="<%= base_url %>/auth/register" class="text-primary ml-2">Free Resister</a></p>
</div> -->